<div class="row" style="margin: 0px;">
  <table class='table' *ngIf='ingredients && ingredients.length'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Unit price</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let ingredient of ingredients'>
        <td>{{ ingredient.name }}</td>
        <td>{{ ingredient.pricePerUnit | currency:'EUR' }}</td>
        <td>{{ ingredient.quantity | number:'1.2' }}</td>
        <td>
          <a class="btn btn-primary" [routerLink]="['/dishes', ingredient.dishId, 'ingredient-update', ingredient.ingredientId]"
             style="width:70px;">
            Edit
          </a>
        </td>

        <td>
          <a class="btn btn-danger"
             style="width:70px;"
             (click)="openModal(ingredient, ingredients)">
            Delete
          </a>
        </td>

      </tr>
    </tbody>
  </table>

</div>
